In [ ]:
"""
케라스(딥러닝 프레임웍)을 이용한 점수 예측
입력 특징 : 공부시간, 출석일수, 과제제출횟수
출력 : 시험점수

딥러닝 프레임웍(framework) : 텐서플로우(케라스), 파이토치, 까페...

"""

In [1]:
from tensorflow import keras
from tensorflow.keras import layers

In [6]:
model=keras.Sequential([layers.Dense(units=1, input_shape=[3])])

In [7]:
model=keras.Sequential([ 
layers.Dense(units=4,  input_shape=[2], activation='relu'),
layers.Dense(units=3,   activation='relu'),
layers.Dense(units=1,   activation='sigmoid')   
])

In [8]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 4)                 12

 dense_7 (Dense)             (None, 3)                 15

 dense_8 (Dense)             (None, 1)                 4

=================================================================
Total params: 31 (124.00 Byte)
Trainable params: 31 (124.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
model.compile(optimizer='adam', loss='mae')

In [9]:
import pandas as pd

In [11]:
red_wine=pd.read_csv("red-wine.csv")

In [12]:
red_wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [13]:
df_train=red_wine.sample(frac=0.7, random_state=20231031)

In [15]:
len(df_train)

1119

In [17]:
df_train.index

Int64Index([1385, 1504, 1269, 1457,  671,  404, 1327, 1226,  803, 1563,
            ...
            1301,  120,  199,   40, 1052, 1043, 1130,  363,  386, 1008],
           dtype='int64', length=1119)

In [18]:
df_test=red_wine.drop(df_train.index)

In [19]:
len(df_test)

480

In [21]:
df_train[:2]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1385,8.0,0.81,0.25,3.4,0.076,34.0,85.0,0.99668,3.19,0.42,9.2,5
1504,7.5,0.38,0.57,2.3,0.106,5.0,12.0,0.99605,3.36,0.55,11.4,6

In [25]:
max_=df_train.max()
min_=df_train.min()

In [29]:
df_train=(df_train-min_) / (max_-min_)
df_test=(df_test-min_) / (max_-min_)

In [37]:
df_train

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [35]:
df_train=df_train.drop('quality', axis=1)
df_test=df_test.drop('quality', axis=1)

In [39]:
df_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1,0.290909,0.628099,0.00,0.116438,0.143573,0.338028,0.215548,0.494126,0.362205,0.209581,0.250000
9,0.263636,0.314050,0.36,0.356164,0.098497,0.225352,0.339223,0.567548,0.480315,0.281437,0.375000
10,0.190909,0.380165,0.08,0.061644,0.141903,0.197183,0.208481,0.428047,0.425197,0.125749,0.142857
16,0.354545,0.132231,0.56,0.061644,0.133556,0.478873,0.342756,0.501468,0.440945,0.251497,0.375000
17,0.318182,0.363636,0.28,0.054795,0.594324,0.211268,0.176678,0.494126,0.291339,0.568862,0.160714
...,...,...,...,...,...,...,...,...,...,...,...
1581,0.145455,0.363636,0.09,0.054795,0.068447,0.323944,0.091873,0.290015,0.629921,0.161677,0.517857
1582,0.136364,0.491736,0.10,0.116438,0.068447,0.169014,0.074205,0.260646,0.653543,0.101796,0.625000
1587,0.109091,0.404959,0.11,0.061644,0.090150,0.239437,0.077739,0.349486,0.637795,0.197605,0.446429
1588,0.236364,0.446281,0.33,0.109589,0.093489,0.464789,0.339223,0.298825,0.417323,0.269461,0.785714
1591,0.072727,0.512397,0.09,0.054795,0.128548,0.211268,0.070671,0.290015,0.732283,0.137725,0.571429

In [ ]:
"""
y_train = red_wine['quality']
y_test = red_wine['quality']
"""

In [40]:
y_train=red_wine['quality'][df_train.index]
y_test=red_wine['quality'][df_test.index]

In [60]:
from sklearn.preprocessing import OneHotEncoder

In [61]:
ohe=OneHotEncoder()

In [71]:
pd.get_dummies(red_wine['quality'])

      3  4  5  6  7  8
0     0  0  1  0  0  0
1     0  0  1  0  0  0
2     0  0  1  0  0  0
3     0  0  0  1  0  0
4     0  0  1  0  0  0
...  .. .. .. .. .. ..
1594  0  0  1  0  0  0
1595  0  0  0  1  0  0
1596  0  0  0  1  0  0
1597  0  0  1  0  0  0
1598  0  0  0  1  0  0

[1599 rows x 6 columns]

In [65]:
y_test_ohe=ohe.fit_transform([y_test])

In [66]:
y_test_ohe

<1x480 sparse matrix of type '<class 'numpy.float64'>'
	with 480 stored elements in Compressed Sparse Row format>

In [42]:
y_train
y_test

1       5
9       5
10      5
16      7
17      5
       ..
1581    5
1582    5
1587    6
1588    6
1591    6
Name: quality, Length: 480, dtype: int64

In [ ]:
# 품질 : 0~10까지 부여
# 범주형 : 원핫인코딩

In [54]:
model=keras.Sequential([
    layers.Dense(512, activation='relu', input_shape=[11]),
    layers.Dense(512, activation='relu'),
    layers.Dense(512, activation='relu'),
    layers.Dense(11, activation='softmax')    
    #layers.Dense(1)    
    
])

In [56]:
model.compile(
    optimizer='adam',
    loss='mae',
)

In [57]:
1119/32

34.96875

In [58]:
model.fit( #batch_size=32
df_train, y_train, epochs=10
)

Epoch 1/10
35/35 [==============================] - 1s 6ms/step - loss: 5.5257
Epoch 2/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 3/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 4/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 5/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 6/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257
Epoch 7/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 8/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 9/10
35/35 [==============================] - 0s 5ms/step - loss: 5.5257
Epoch 10/10
35/35 [==============================] - 0s 6ms/step - loss: 5.5257

In [59]:
model.predict(df_test)

15/15 [==============================] - 0s 1ms/step

array([[0.09324222, 0.08806416, 0.08960897, ..., 0.08757245, 0.09238477,
        0.09291639],
       [0.0941472 , 0.08837518, 0.08966232, ..., 0.08557256, 0.09540879,
        0.0933256 ],
       [0.09284679, 0.08907533, 0.09004882, ..., 0.08791555, 0.09284938,
        0.09177317],
       ...,
       [0.09339609, 0.08882844, 0.09050213, ..., 0.0886004 , 0.09203637,
        0.09162564],
       [0.0931022 , 0.087494  , 0.09214681, ..., 0.08777916, 0.09313267,
        0.0933551 ],
       [0.09305763, 0.08837266, 0.09106877, ..., 0.08877297, 0.0908631 ,
        0.09198119]], dtype=float32)

In [52]:
y_test

1       5
9       5
10      5
16      7
17      5
       ..
1581    5
1582    5
1587    6
1588    6
1591    6
Name: quality, Length: 480, dtype: int64

In [50]:
df_test

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1,0.290909,0.628099,0.00,0.116438,0.143573,0.338028,0.215548,0.494126,0.362205,0.209581,0.250000
9,0.263636,0.314050,0.36,0.356164,0.098497,0.225352,0.339223,0.567548,0.480315,0.281437,0.375000
10,0.190909,0.380165,0.08,0.061644,0.141903,0.197183,0.208481,0.428047,0.425197,0.125749,0.142857
16,0.354545,0.132231,0.56,0.061644,0.133556,0.478873,0.342756,0.501468,0.440945,0.251497,0.375000
17,0.318182,0.363636,0.28,0.054795,0.594324,0.211268,0.176678,0.494126,0.291339,0.568862,0.160714
...,...,...,...,...,...,...,...,...,...,...,...
1581,0.145455,0.363636,0.09,0.054795,0.068447,0.323944,0.091873,0.290015,0.629921,0.161677,0.517857
1582,0.136364,0.491736,0.10,0.116438,0.068447,0.169014,0.074205,0.260646,0.653543,0.101796,0.625000
1587,0.109091,0.404959,0.11,0.061644,0.090150,0.239437,0.077739,0.349486,0.637795,0.197605,0.446429
1588,0.236364,0.446281,0.33,0.109589,0.093489,0.464789,0.339223,0.298825,0.417323,0.269461,0.785714
1591,0.072727,0.512397,0.09,0.054795,0.128548,0.211268,0.070671,0.290015,0.732283,0.137725,0.571429

In [72]:
df=pd.read_csv("diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [74]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [73]:
x=df.iloc[:,0:8]
y=df.iloc[:,8]

In [75]:
model=Sequential()

In [76]:
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [77]:
model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_21 (Dense)            (None, 12)                108

 dense_22 (Dense)            (None, 8)                 104

 dense_23 (Dense)            (None, 1)                 9

=================================================================
Total params: 221 (884.00 Byte)
Trainable params: 221 (884.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [78]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [80]:
model.fit(x, y, epochs=10, batch_size=5)

Epoch 1/10
154/154 [==============================] - 1s 1ms/step - loss: 1.3090 - accuracy: 0.5404
Epoch 2/10
154/154 [==============================] - 0s 1ms/step - loss: 0.8305 - accuracy: 0.5794
Epoch 3/10
154/154 [==============================] - 0s 1ms/step - loss: 0.7753 - accuracy: 0.5885
Epoch 4/10
154/154 [==============================] - 0s 1ms/step - loss: 0.7310 - accuracy: 0.5977
Epoch 5/10
154/154 [==============================] - 0s 1ms/step - loss: 0.7005 - accuracy: 0.6302
Epoch 6/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6801 - accuracy: 0.6628
Epoch 7/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6693 - accuracy: 0.6471
Epoch 8/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6367 - accuracy: 0.6615
Epoch 9/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6246 - accuracy: 0.6875
Epoch 10/10
154/154 [==============================] - 0s 1ms/step - loss: 0.6261 - accuracy: 0.6901

In [81]:
df = pd.read_csv('iris3.csv')

In [82]:
df

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [83]:
X = df.iloc[:,0:4]
y = df.iloc[:,4]

In [84]:
y = pd.get_dummies(y)

In [85]:
y

     Iris-setosa  Iris-versicolor  Iris-virginica
0              1                0               0
1              1                0               0
2              1                0               0
3              1                0               0
4              1                0               0
..           ...              ...             ...
145            0                0               1
146            0                0               1
147            0                0               1
148            0                0               1
149            0                0               1

[150 rows x 3 columns]

In [89]:
model = Sequential()

In [90]:
model.add(Dense(16,  input_dim=4, activation='relu'))
model.add(Dense(8,  activation='relu'))
model.add(Dense(3,  activation='softmax'))

In [92]:
model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [94]:
model.fit(X,y,epochs=40, batch_size=5)

Epoch 1/40
30/30 [==============================] - 1s 1ms/step - loss: 1.0681 - accuracy: 0.5200
Epoch 2/40
30/30 [==============================] - 0s 1ms/step - loss: 0.8944 - accuracy: 0.6533
Epoch 3/40
30/30 [==============================] - 0s 1ms/step - loss: 0.8259 - accuracy: 0.9400
Epoch 4/40
30/30 [==============================] - 0s 1ms/step - loss: 0.7629 - accuracy: 0.8733
Epoch 5/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6926 - accuracy: 0.8933
Epoch 6/40
30/30 [==============================] - 0s 1ms/step - loss: 0.6264 - accuracy: 0.8667
Epoch 7/40
30/30 [==============================] - 0s 1ms/step - loss: 0.5639 - accuracy: 0.9133
Epoch 8/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4905 - accuracy: 0.9067
Epoch 9/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4396 - accuracy: 0.9733
Epoch 10/40
30/30 [==============================] - 0s 1ms/step - loss: 0.4083 - accuracy: 0.9467
Epoch 11/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3748 - accuracy: 0.9133
Epoch 12/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3499 - accuracy: 0.9667
Epoch 13/40
30/30 [==============================] - 0s 1ms/step - loss: 0.3288 - accuracy: 0.9667
Epoch 14/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2995 - accuracy: 0.9667
Epoch 15/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2802 - accuracy: 0.9600
Epoch 16/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2600 - accuracy: 0.9533
Epoch 17/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2438 - accuracy: 0.9867
Epoch 18/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2285 - accuracy: 0.9800
Epoch 19/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2140 - accuracy: 0.9800
Epoch 20/40
30/30 [==============================] - 0s 1ms/step - loss: 0.2047 - accuracy: 0.9867
Epoch 21/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1962 - accuracy: 0.9733
Epoch 22/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1916 - accuracy: 0.9533
Epoch 23/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1767 - accuracy: 0.9800
Epoch 24/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1683 - accuracy: 0.9733
Epoch 25/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1630 - accuracy: 0.9733
Epoch 26/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1506 - accuracy: 0.9800
Epoch 27/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1541 - accuracy: 0.9533
Epoch 28/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1458 - accuracy: 0.9733
Epoch 29/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1382 - accuracy: 0.9800
Epoch 30/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1360 - accuracy: 0.9800
Epoch 31/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1269 - accuracy: 0.9867
Epoch 32/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1259 - accuracy: 0.9733
Epoch 33/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1272 - accuracy: 0.9800
Epoch 34/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1180 - accuracy: 0.9733
Epoch 35/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1160 - accuracy: 0.9800
Epoch 36/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1243 - accuracy: 0.9667
Epoch 37/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1176 - accuracy: 0.9600
Epoch 38/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1057 - accuracy: 0.9800
Epoch 39/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1037 - accuracy: 0.9800
Epoch 40/40
30/30 [==============================] - 0s 1ms/step - loss: 0.1089 - accuracy: 0.9600

In [ ]:
5.9	3.0	5.1	1.8	  Iris-virginica  0	0	1

In [96]:
model.predict(np.array([[5.9, 3.0, 5.1, 1.8]]))

1/1 [==============================] - 0s 48ms/step

array([[3.9010032e-04, 3.1616637e-01, 6.8344355e-01]], dtype=float32)

In [97]:
np.argmax([3.9010032e-04, 3.1616637e-01, 6.8344355e-01])

2

In [ ]:
배경 :
전경 : 본인 얼굴(사람), 강아지, 고양이, 다른 사람, 자전거, 컴퓨터...